@font-face {
  font-family: "PT Sans Narrow";
  src: url("../fonts/PTSans-Narrow.woff2") format("woff2"), url("../fonts/PTSans-Narrow.woff") format("woff"), url("../fonts/PTSans-Narrow.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "PT Sans Narrow Bold";
  src: url("../fonts/PTSans-Narrow-Bold.woff2") format("woff2"), url("../fonts/PTSans-Narrow-Bold.woff") format("woff"), url("../fonts/PTSans-Narrow-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
body {
  padding: 0;
  margin: 0;
  font-size: 18px;
  line-height: 27px;
  font-family: "PT Sans Narrow", Arial, sans-serif;
  color: #f7f4f1;
  font-style: normal;
  background-color: #353535;
}
img {
  max-width: 100%;
  height: auto;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: recy(0 0 0 0);
  overflow: hidden;
}
.page-header__back {
  height: 85px;
  text-align: center;
  background-color: #242424;
}
.page-header__logo {
  width: 230px;
  height: 85px;
}
@media (min-width: 768px) {
  .page-header {
    display: flex;
    flex-direction: column;
    background-color: #000000;
  }
  .page-header__back {
    order: 2;
    position: relative;
    width: 100%;
    height: 400px;
    background-image: url(../img/back-tablet.jpg.jpg);
    background-repeat: no-repeat;
    background-position: center -49px;
    background-size: cover;
  }
  .page-header__logo {
    position: absolute;
    bottom: 247px;
    left: 50%;
    width: 370px;
    height: auto;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .page-header__back--inner {
    height: 215px;
    background-image: url(../img/page-header-tablet-inner.jpg);
    background-position: center -70px;
  }
  .page-header__logo--inner {
    bottom: 74px;
  }
}
@media (min-width: 1200px) {
  .page-header__back {
    height: 648px;
    background-image: url(../img/back-desktop.jpg.jpg);
    background-position: center -67px;
    background-size: cover;
  }
  .page-header__logo {
    bottom: 438px;
  }
  .page-header__back--inner {
    height: 315px;
    background-image: url(../img/page-header-desktop-inner.jpg);
  }
  .page-header__logo--inner {
    bottom: 101px;
  }
}
.main-nav {
  position: relative;
  width: auto;
  min-height: 50px;
  font-family: "PT Sans Narrow";
  background-color: #826550;
}
.main-nav__toogle {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  display: block;
  width: 70px;
  height: 50px;
  font-size: 0;
  background-color: #6a4d38;
  cursor: pointer;
  border: none;
}
.main-nav__toogle:hover {
  background-color: #624350;
}
.main-nav__toogle:active {
  background-color: #624350;
}
.main-nav--closed .main-nav__toogle::before {
  content: "";
  position: absolute;
  top: 15px;
  left: 17px;
  width: 36px;
  height: 2px;
  background-color: #ffffff;
  box-shadow: 0 8px 0 0 #ffffff, 0 16px 0 0#ffffff;
}
.main-nav--closed .main-nav__toogle:active::before {
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 0 0 rgba(255, 255, 255, 0.3), 0 16px 0 0 rgba(255, 255, 255, 0.3);
}
.main-nav--opened .main-nav__toogle {
  left: 0;
  right: auto;
  top: 0;
}
.main-nav--opened .main-nav__toogle::before,
.main-nav--opened .main-nav__toogle::after {
  content: "";
  position: absolute;
  top: 24px;
  left: 18px;
  width: 36px;
  height: 2px;
  background-color: #ffffff;
}
.main-nav--opened .main-nav__toogle::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  box-shadow: none;
}
.main-nav--opened .main-nav__toogle::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.main-nav--opened .main-nav__toogle:active::before,
.main-nav--opened .main-nav__toogle:active::after {
  background-color: rgba(255, 255, 255, 0.3);
}
.main-nav__items,
.main-nav__user-items {
  list-style: none;
  margin: 0;
  padding: 0;
}
.main-nav__items {
  font-weight: bold;
}
.main-nav__item a {
  display: block;
  padding: 12px 21px;
  padding-bottom: 13px;
  font-family: "PT Sans Narrow Bold";
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #826550;
  border-top: 1px solid #886e5b;
  border-bottom: 1px solid #71543f;
}
.main-nav__item a[href]:hover {
  background-color: #755a46;
  border-top-color: #755a46;
}
.main-nav__item a[href]:active {
  background-color: #6a4d38;
  border-top-color: #6a4d38;
  color: rgba(255, 255, 255, 0.3);
}
.main-nav__user-login {
  position: relative;
  display: block;
  padding: 17px 21px;
  padding-left: 49px;
  line-height: 18px;
  color: #ffffff;
  text-decoration: none;
}
.main-nav__user-login::before {
  content: "";
  position: absolute;
  top: 17px;
  left: 21px;
  width: 16px;
  height: 16px;
  background-image: url(../img/login.png);
  background-position: -32px 0;
  opacity: 0.3;
}
@media (max-width: 767px) {
  .main-nav--closed .main-nav__item {
    display: none;
  }
  .main-nav--closed .main-nav__item--active {
    display: block;
  }
  .main-nav--closed .main-nav__item--active a {
    padding-right: 70px;
    padding-left: 70px;
    text-align: center;
  }
  .main-nav--closed .main-nav__user-items {
    display: none;
  }
  .main-nav--opened .main-nav__wrapper {
    position: absolute;
    top: 0;
    right: 0;
    left: 70px;
    z-index: 10;
    background-color: #6a4d38;
  }
  .main-nav--opened .main-nav__wrapper::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 7px;
    height: 100%;
    box-shadow: inset 4px 0 7px -2px rgba(0, 0, 0, 0.4);
  }
}
.main-nav--nojs .main-nav__toogle {
  display: none;
}
.main-nav--nojs .main-nav__wrapper {
  position: static;
  height: auto;
}
.main-nav--nojs .main-nav__item {
  display: block;
}
.main-nav--nojs .main-nav__item--active a {
  padding-left: 21px;
  padding-right: 21px;
  text-align: left;
}
.main-nav--nojs .main-nav__user-items {
  display: block;
  background-color: #6a4d38;
}
@media (min-width: 768px) {
  .main-nav {
    width: auto;
    min-height: 70px;
    margin: 0;
    background-color: #000000;
  }
  .main-nav__wrapper {
    width: auto;
    display: flex;
    justify-content: space-between;
  }
  .main-nav__toogle {
    display: none;
  }
  .main-nav__items {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    justify-content: space-around;
  }
  .main-nav__item {
    margin-right: 32px;
    display: flex;
    justify-content: center;
  }
  .main-nav__item:last-child {
    margin-right: 0;
  }
  .main-nav__item--active {
    position: relative;
  }
  .main-nav__item--active::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: -3px;
    left: 0;
    height: 3px;
    background: #826550;
  }
  .main-nav__item a {
    padding: 0;
    padding-top: 25px;
    padding-bottom: 23px;
    background: none;
    border: none;
  }
  .main-nav__item a[href]:hover {
    color: #826550;
    background-color: #000000;
  }
  .main-nav__item a[href]:active {
    color: #ffffff;
    background-color: #000000;
    opacity: 0.3;
  }
  .main-nav__user-login {
    width: 60px;
    height: 70px;
    padding: 0;
    font-size: 0;
  }
  .main-nav__user-login::before {
    top: 29px;
    left: 12px;
  }
  .main-nav__user-login:hover::before {
    background-position: -16px 0;
    opacity: 1;
  }
  .main-nav__user-login:active::before {
    background-position: -32px 0;
    opacity: 0.3;
  }
}
@media (min-width: 768px) and (min-width: 768px) {
  .main-nav__wrapper {
    width: 84%;
    max-width: 960px;
    margin: 0 auto;
  }
}
@media (min-width: 1200px) {
  .main-nav__item {
    margin-right: 0;
  }
  .main-nav__item--active::after {
    right: 30px;
    left: 30px;
  }
  .main-nav__item a {
    padding-right: 31px;
    padding-left: 31px;
  }
  .main-nav__item a[href]:hover {
    color: #000000;
    background-color: #ffffff;
  }
  .main-nav__item a[href]:active {
    color: rgba(0, 0, 0, 0.3);
    background-color: #ffffff;
    opacity: 1;
  }
  .main-nav__user-items {
    width: auto;
    max-width: 160px;
  }
  .main-nav__user-login {
    position: relative;
    width: auto;
    height: auto;
    padding-top: 25px;
    padding-right: 30px;
    padding-bottom: 23px;
    padding-left: 50px;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
    text-decoration: none;
  }
  .main-nav__user-login::before {
    background-image: url(../img/login.png);
    background-position: -32px 0;
    left: 15px;
    opacity: 0.3;
  }
  .main-nav__user-login:hover {
    color: #000000;
    background-color: #ffffff;
  }
  .main-nav__user-login:hover::before {
    background-position: 0 0;
    opacity: 1;
  }
  .main-nav__user-login:active {
    color: rgba(0, 0, 0, 0.3);
    background-color: #ffffff;
  }
  .main-nav__user-login:active::before {
    background-position: 0 0;
    opacity: 0.3;
  }
}
.stats {
  width: auto;
}
@media (min-width: 768px) {
  .stats {
    width: 84%;
    max-width: 960px;
    margin: 0 auto;
  }
}
.stats__header {
  min-height: 130px;
  padding-bottom: 26px;
  padding-left: 38px;
  padding-right: 38px;
  padding-top: 27px;
  font-family: "PT Sans Narrow";
  color: #000000;
  background-color: #ffffff;
}
.stats__slogan {
  display: block;
  margin-bottom: 16px;
  font-family: "PT Sans Narrow Bold";
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
}
.stats__intro {
  margin: 0;
  font-size: 20px;
  line-height: 27px;
  font-weight: normal;
  text-align: center;
}
.stats__legend {
  display: block;
  font-size: 20px;
  line-height: 20px;
}
.stats__legend--bottom {
  padding-top: 20px;
  padding-bottom: 14px;
  text-align: center;
  color: rgba(255, 255, 255, 0.3);
  background-color: #292929;
}
.stats__legend--top {
  display: none;
}
.stats__legend sup {
  top: -0.25em;
  font-size: 90%;
}
.stats__items {
  width: 100%;
  border-collapse: collapse;
}
.stats__items tr {
  color: #ffffff;
  background-color: #404040;
}
.stats__items tr:nth-child(2) {
  background-color: #4e4e4e;
}
.stats__items tr:nth-child(3) {
  background-color: #353535;
}
.stats__items tr:nth-child(4) {
  background-color: #404040;
}
.stats__value,
.stats__field {
  width: 50%;
  padding: 20px;
  padding-bottom: 19px;
  vertical-align: top;
}
.stats__value {
  padding-right: 0;
  font-family: "PT Sans Narrow Bold";
  font-weight: normal;
  font-size: 40px;
  line-height: 40px;
}
.stats__value sup {
  top: -0.35em;
  margin-left: 5px;
}
.stats__field {
  padding-left: 0;
  font-size: 18px;
  line-height: 18px;
  text-align: right;
}
@media (min-width: 768px) {
  .stats {
    position: relative;
    z-index: 1;
    margin-top: -184px;
  }
  .stats__header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    min-height: 129px;
    padding: 0;
    padding-top: 31px;
    padding-bottom: 24px;
  }
  .stats__header::before {
    content: "";
    position: absolute;
    top: 27px;
    left: -15px;
    border: 15px solid transparent;
    border-bottom-color: #ffffff;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .stats__slogan {
    box-sizing: border-box;
    width: 50%;
    padding-left: 40px;
    margin-bottom: 20px;
    font-size: 40px;
    line-height: 40px;
    text-align: left;
    text-transform: none;
  }
  .stats__intro {
    width: 37.5%;
    padding: 0;
    padding-left: 30px;
    padding-top: 4px;
    text-align: left;
  }
  .stats__legend--top {
    display: block;
    box-sizing: border-box;
    width: 50%;
    padding-left: 40px;
    color: rgba(0, 0, 0, 0.3);
  }
  .stats__legend--bottom {
    display: none;
  }
  .stats__items {
    display: flex;
    flex-wrap: wrap;
  }
  .stats__items tbody {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .stats__items tr {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 245px;
    padding: 25px 35px;
    padding-bottom: 28px;
  }
  .stats__value,
  .stats__field {
    display: block;
    width: auto;
    padding: 0;
  }
  .stats__value {
    margin-bottom: 7px;
    font-size: 72px;
    line-height: 72px;
  }
  .stats__field {
    font-size: 20px;
    line-height: 27px;
    text-align: left;
  }
  .stats__field br {
    display: none;
  }
}
@media (min-width: 1200px) {
  .stats {
    display: flex;
    margin-top: -159px;
  }
  .stats__header {
    flex-direction: column;
    width: 240px;
    min-height: 263px;
    padding-left: 40px;
    padding-right: 40px;
  }
  .stats__header::before {
    top: 22px;
  }
  .stats__slogan {
    width: auto;
    margin-bottom: 42px;
    padding-left: 0;
  }
  .stats__intro {
    width: auto;
    margin-bottom: 32px;
    padding-left: 0;
  }
  .stats__legend--top {
    width: auto;
    padding-left: 0;
    margin-top: auto;
  }
  .stats__items {
    display: flex;
    width: 640px;
  }
}
.advantages__wrapper {
  width: auto;
  display: flex;
  padding-top: 30px;
  background-color: #242424;
}
@media (min-width: 768px) {
  .advantages__wrapper {
    width: 84%;
    max-width: 960px;
    margin: 0 auto;
  }
}
.advantages__items {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  min-height: 365px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans Narrow";
  list-style: none;
}
.advantages__item {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  padding: 0 40px;
  padding-top: 125px;
  opacity: 0;
}
.advantages__item:first-of-type {
  position: relative;
}
.advantages__item::before {
  content: "";
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
  width: 95px;
  height: 94px;
  left: 50%;
  margin-left: -47.5px;
  top: 0;
}
.advantages__item--fast::before {
  background-image: url(../img/advantage-1-illustration.svg);
}
.advantages__item--cool::before {
  background-image: url(../img/advantage-2-illustration.svg);
}
.advantages__item--pricy::before {
  background-image: url(../img/advantage-3-illustration.svg);
}
.advantages__item h2 {
  margin: 0;
  padding: 0;
  font-size: 30px;
  line-height: 30px;
  font-family: "PT Sans Narrow Bold";
  font-weight: normal;
  text-transform: uppercase;
  text-align: center;
}
.advantages__item p {
  margin: 0;
  padding-top: 13px;
  min-height: 105px;
  padding-bottom: 85px;
  font-size: 20px;
  line-height: 27px;
  text-align: center;
}
#slide1:checked ~ .advantages__item--fast,
#slide2:checked ~ .advantages__item--cool,
#slide3:checked ~ .advantages__item--pricy {
  opacity: 1;
  position: relative;
}
#slide2:checked ~ .advantages__item--fast,
#slide3:checked ~ .advantages__item--fast {
  position: absolute;
}
.advantages__wrapper input {
  display: none;
}
.advantages__controls {
  position: absolute;
  width: 140px;
  height: 0;
  margin-left: -70px;
  left: 50%;
  bottom: 57px;
  text-align: center;
  font-size: 0;
}
.advantages__controls label {
  display: inline-block;
  position: relative;
  width: 6px;
  height: 6px;
  border: 2px solid white;
  margin-right: 23px;
  vertical-align: top;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-tap-highlight-color: transparent;
}
.advantages__controls label:last-of-type {
  margin-right: 0;
}
#slide1:checked ~ .advantages__controls label:nth-of-type(1),
#slide2:checked ~ .advantages__controls label:nth-of-type(2),
#slide3:checked ~ .advantages__controls label:nth-of-type(3) {
  background: white;
}
@media (min-width: 768px) {
  .advantages__wrapper {
    padding-top: 0;
    background-color: #353535;
  }
  .advantages label,
  .advantages__controls,
  br {
    display: none;
  }
  .advantages__items {
    padding: 0;
    padding-left: 30px;
    height: auto;
    padding-bottom: 50px;
  }
  .advantages__item {
    position: relative;
    margin: 0;
    padding: 0;
    padding-top: 45px;
    padding-right: 35px;
    padding-left: 160px;
    opacity: 1;
  }
  .advantages__item::before {
    width: 95px;
    height: 94px;
    margin: 0;
    top: 45px;
    left: 0;
  }
  .advantages__item {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }
  .advantages__item:last-of-type {
    border: none;
  }
  .advantages__item h2 {
    text-align: left;
  }
  .advantages__item p {
    text-align: left;
    min-height: 90px;
    padding-bottom: 0;
  }
}
@media (min-width: 1200px) {
  .advantages__wrapper {
    padding-top: 75px;
    padding-bottom: 59px;
  }
  .advantages__items {
    display: table;
    border-collapse: collapse;
    width: 100%;
  }
  .advantages__item {
    display: table-cell;
    width: 240px;
    margin: 0;
    padding: 0 40px;
    padding-top: 130px;
    border: none;
  }
  .advatages__item:nth-child(2) {
    width: 200px;
    padding-left: 60px;
    padding-right: 60px;
  }
  .advantages__item::before {
    width: 95px;
    height: 94px;
    left: 50%;
    margin-left: -47.5px;
    top: 0;
  }
  .advantages__item {
    border-right: 1px solid rgba(255, 255, 255, 0.1);
  }
  .advantages__item {
    border-right: 1px solid rgba(255, 255, 255, 0.1);
  }
  .advantages__item:last-of-type {
    border-right-color: transparent;
  }
  .advantages__item h2 {
    text-align: center;
  }
  .advantages__item p {
    text-align: center;
    min-height: 90px;
  }
}
.news {
  font-family: "PT Sans Narrow";
  background-color: #ffffff;
}
.news__wrapper {
  width: auto;
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  padding-top: 30px;
  padding-bottom: 28px;
  background-color: #ffffff;
  color: #000000;
}
@media (min-width: 768px) {
  .news__wrapper {
    width: 84%;
    max-width: 960px;
    margin: 0 auto;
  }
}
.news__title {
  margin: 0;
  margin-bottom: 13px;
  font-size: 30px;
  line-height: 30px;
  font-family: "PT Sans Narrow Bold";
  font-weight: normal;
  text-transform: uppercase;
  text-align: center;
}
.news__items {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;
}
.news__item {
  position: relative;
  min-height: 100px;
  margin: 0 20px;
  padding-top: 18px;
  padding-bottom: 18px;
  padding-left: 70px;
  font-family: "PT Sans Narrow";
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  border-bottom: 1px solid #e5ddd5;
}
.news__item:nth-child(2n) {
  border-bottom: transparent;
}
.news__item::before {
  content: "";
  position: absolute;
  left: 0px;
  top: 26px;
  background-image: url(../img/news.png);
  background-repeat: no-repeat;
  background-position: -50px -60px;
  width: 50px;
  height: 60px;
}
.news__item:nth-child(2)::before {
  background-position: -100px 0;
}
.news__item:nth-child(n+3) {
  display: none;
}
.news__item:nth-child(n+3)::before {
  background-position: 0 0;
}
.news__item:nth-child(n+3):hover::before {
  background-position: -50px 0px;
}
.news__item:hover {
  color: #826550;
  text-decoration: underline;
}
.news__item:nth-child(1):hover::before {
  background-position: -100px -60px;
}
.news__item:nth-child(2):hover::before {
  background-position: 0px -60px;
}
.news__item:nth-child(3):hover::before {
  background-position: -50px 0px;
}
.news__button {
  align-self: center;
  position: relative;
  margin: 0 20px;
  padding: 13px 0px;
  width: 94%;
  font-family: "PT Sans Narrow Bold";
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  text-align: center;
  background: #ffffff;
  border: 1px solid #e5ddd5;
  outline: none;
  cursor: pointer;
}
.news__button:hover {
  border-color: #d5c9bd;
}
@media (min-width: 768px) {
  .news__wrapper {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 0px;
    background: #ffffff;
    color: #000000;
  }
  .news__title {
    box-sizing: border-box;
    width: 50%;
    margin-right: 0px;
    margin-bottom: 55px;
    font-size: 40px;
    line-height: 40px;
    text-align: left;
  }
  .news__items {
    flex-wrap: wrap;
    flex-direction: row;
    order: 2;
    font-size: 0;
  }
  .news__item {
    box-sizing: border-box;
    width: 50%;
    min-height: 140px;
    margin: 0;
    padding: 0 30px;
    padding-left: 70px;
    vertical-align: top;
    border-bottom: none;
  }
  .news__item::before {
    top: 5px;
  }
  .news__item::before:nth-child(n+3) {
    display: none;
  }
  .news__item span {
    display: none;
  }
  .news__button {
    position: relative;
    width: 158px;
    padding: 13px 0px;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: 0;
  }
}
@media (min-width: 1200px) {
  .news__title {
    margin-left: 70px;
  }
  .news__item {
    width: 33%;
    justify-content: space-between;
  }
  .news__item:nth-child(3n) {
    display: inline-block;
    padding-right: 0;
  }
  .news__item:nth-child(n+3)::before {
    background-position: 0 0;
  }
  .news__item:nth-child(n+3):hover::before {
    background-position: -50px 0px;
  }
}
.reviews {
  font-family: "PT Sans Narrow";
  background: #ffffff;
  border: 1px solid #e5ddd5;
  border-left: none;
  border-right: none;
}
.reviews__wrapper {
  width: auto;
  position: relative;
  padding-top: 35px;
  color: #000000;
  background-color: #ffffff;
}
.reviews__title {
  margin: 0;
  margin-bottom: 35px;
  font-size: 30px;
  line-height: 30px;
  font-family: "PT Sans Narrow Bold";
  font-weight: normal;
  text-transform: uppercase;
  text-align: center;
}
.reviews__items {
  position: relative;
  margin: 0 20px;
}
.reviews__item {
  position: relative;
  min-height: 145px;
  margin: 0;
  padding-left: 70px;
  padding-right: 20px;
  padding-bottom: 90px;
  opacity: 0;
}
.reviews__logo {
  position: absolute;
  left: 0px;
  top: 10px;
  width: 50px;
  height: 49px;
}
.reviews__name {
  display: block;
  margin: 0;
  margin-bottom: 11px;
  font-size: 24px;
  line-height: 27px;
  font-family: "PT Sans Narrow Bold";
  font-weight: normal;
}
.reviews__desc {
  margin: 0;
  padding-bottom: 0px;
  font-size: 18px;
  line-height: 27px;
}
.reviews__item:nth-of-type(n+2) {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
.reviews__active {
  position: absolute;
  width: 76px;
  height: 7px;
  margin-left: -63px;
  left: 50%;
  bottom: 53px;
  padding: 0 25px;
  font-size: 0;
  background-color: #ffffff;
}
.reviews__active label {
  display: inline-block;
  position: relative;
  margin-right: 23px;
  width: 6px;
  height: 6px;
  vertical-align: top;
  border: 2px solid #353535;
  background-color: white;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-tap-highlight-color: transparent;
}
.reviews__active label:last-of-type {
  margin-right: 0;
}
.reviews__items #reviews-slide1:checked ~ .reviews__active label[for="reviews-slide1"],
.reviews__items #reviews-slide2:checked ~ .reviews__active label[for="reviews-slide2"],
.reviews__items #reviews-slide3:checked ~ .reviews__active label[for="reviews-slide3"] {
  background-color: #353535;
}
.reviews__items #reviews-slide1:checked ~ .reviews__item:nth-of-type(1),
.reviews__items #reviews-slide2:checked ~ .reviews__item:nth-of-type(2),
.reviews__items #reviews-slide3:checked ~ .reviews__item:nth-of-type(3) {
  opacity: 1;
  position: relative;
}
.reviews__items #reviews-slide2:checked ~ .reviews__item:nth-of-type(1),
.reviews__items #reviews-slide3:checked ~ .reviews__item:nth-of-type(1) {
  position: absolute;
}
.reviews__button {
  display: none;
}
.reviews__items input {
  display: none;
}
@media (min-width: 768px) {
  .reviews__wrapper {
    width: 84%;
    max-width: 960px;
    margin: 0 auto;
    padding-top: 45px;
    padding-bottom: 75px;
    background: #ffffff;
  }
  .reviews__title {
    margin: 0;
    margin-bottom: 45px;
    font-size: 40px;
    line-height: 40px;
    text-align: left;
  }
  .reviews__items {
    display: flex;
    min-height: 160px;
    margin: 0;
    padding: 0;
  }
  .reviews__item {
    width: 100%;
    box-sizing: border-box;
    position: relative;
    min-height: 161px;
    margin: 0 50px;
    padding: 0;
    padding-top: 30px;
    padding-left: 140px;
    padding-right: 20px;
    border-top: 1px solid #e5ddd5;
    border-bottom: 1px solid #e5ddd5;
  }
  .reviews__item:nth-of-type(n+2) {
    left: 0px;
    top: 0px;
  }
  .reviews__logo {
    left: 35px;
    top: 35px;
    width: 83px;
    height: 83px;
  }
  .reviews__desc {
    width: 100%;
    box-sizing: border-box;
    min-height: 55px;
    margin: 0;
    padding: 0;
    padding-bottom: 35px;
  }
  .reviews__active {
    bottom: -4px;
  }
  .reviews__button {
    display: block;
    position: absolute;
    top: 40px;
    right: 0px;
    min-width: 158px;
    margin: 0;
    padding: 13px 0px;
    font-family: "PT Sans Narrow Bold";
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
    text-align: center;
    background: #ffffff;
    border: 1px solid #e5ddd5;
    outline: none;
    cursor: pointer;
  }
  .reviews__button:hover {
    border-color: #d5c9bd;
  }
  .reviews__items #reviews-slide1:checked ~ .reviews__controls label:nth-of-type(2),
  .reviews__items #reviews-slide2:checked ~ .reviews__controls label:nth-of-type(3),
  .reviews__items #reviews-slide3:checked ~ .reviews__controls label:nth-of-type(1) {
    position: absolute;
    content: "";
    width: 48px;
    min-height: 100px;
    right: 0;
    top: 0;
    bottom: 0;
    cursor: pointer;
    border: 1px solid #e5ddd5;
    background: #ffffff;
    background-image: url(../img/right-arrow.png);
    background-position: center 74px;
    background-repeat: no-repeat;
  }
  .reviews__items #reviews-slide1:checked ~ .reviews__controls label:nth-of-type(3),
  .reviews__items #reviews-slide2:checked ~ .reviews__controls label:nth-of-type(1),
  .reviews__items #reviews-slide3:checked ~ .reviews__controls label:nth-of-type(2) {
    position: absolute;
    content: "";
    width: 48px;
    left: 0;
    top: 0;
    bottom: 0;
    cursor: pointer;
    border: 1px solid #e5ddd5;
    background: #ffffff;
    background-image: url(../img/left-arrow.png);
    background-position: center 74px;
    background-repeat: no-repeat;
  }
  .reviews__items #reviews-slide1:checked ~ .reviews__controls label:hover,
  .reviews__items #reviews-slide2:checked ~ .reviews__controls label:hover,
  .reviews__items #reviews-slide3:checked ~ .reviews__controls label:hover {
    border: 1px solid #d5c9bd;
  }
}
@media (min-width: 1200px) {
  .reviews__wrapper {
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 100px;
  }
  .reviews__title {
    padding-left: 71px;
  }
  .reviews__items {
    padding-right: 50px;
    border-right: 0;
  }
  .reviews__item {
    padding-left: 340px;
    padding-right: 50px;
    margin-left: 0px;
    margin-right: 0px;
    border: 1px solid #e5ddd5;
    border-right-width: 0;
  }
  .reviews__desc {
    width: auto;
  }
  .reviews__logo {
    left: 50px;
    top: 0px;
    width: 248px;
    height: 160px;
  }
  .reviews__active {
    bottom: -53px;
  }
}
.page-footer {
  font-family: "PT Sans Narrow";
  background-color: #242424;
}
.page-footer__wrapper {
  width: auto;
  width: 100%;
  position: relative;
  padding-top: 35px;
  padding-bottom: 25px;
}
@media (min-width: 768px) {
  .page-footer__wrapper {
    width: 84%;
    max-width: 960px;
    margin: 0 auto;
  }
}
.page-footer__contacts {
  margin: 0 20px;
  text-align: center;
  padding: 0px;
}
.page-footer__contacts span {
  display: block;
  font-family: "PT Sans Narrow Bold";
  line-height: 18px;
  padding: 0 35px;
}
.page-footer__address {
  padding: 15px 35px;
}
.page-footer__tel {
  font-family: "PT Sans Narrow Bold";
  line-height: 48px;
  border: 1px solid #3f3f3f;
  margin-bottom: 25px;
}
.page-footer__social {
  font-size: 0;
  line-height: 0;
  margin-bottom: 30px;
  border: 1px solid #3f3f3f;
  min-height: 98px;
}
.page-footer__social p {
  display: none;
}
.page-footer__social a {
  display: inline-block;
  position: relative;
  width: 33%;
  min-height: 98px;
}
.page-footer__social a:nth-of-type(2) {
  border-left: 1px solid #3f3f3f;
  border-right: 1px solid #3f3f3f;
}
.page-footer__social a::before {
  content: "";
  position: absolute;
  width: 24px;
  height: 26px;
  top: 50%;
  left: 50%;
  margin-top: -13px;
  margin-left: -12px;
  background-image: url(../img/page-footer-icon.png);
  background-repeat: no-repeat;
  background-position: -36px 0;
}
.page-footer__social a:nth-of-type(2)::before {
  height: 40px;
  margin-top: -20px;
  background-position: 0 -36px;
}
.page-footer__social a:nth-of-type(3)::before {
  height: 36px;
  width: 36px;
  margin-top: -18px;
  margin-left: -18px;
  background-position: 0 0;
}
.page-footer__copyright p {
  margin: 0;
  margin-bottom: 10px;
  text-align: center;
}
.page-footer__copyright span {
  display: block;
  margin: 0 20px;
  line-height: 48px;
  font-family: "PT Sans Narrow Bold";
  text-align: center;
  border: 1px solid #3f3f3f;
}
@media (min-width: 768px) {
  .page-footer__wrapper {
    padding: 55px 0px;
  }
  .page-footer__contacts {
    margin: 0px;
    text-align: left;
    padding: 0px;
  }
  .page-footer__contacts span {
    padding-left: 0;
  }
  .page-footer__address {
    padding-bottom: 0;
    padding-left: 0;
  }
  .page-footer__tel {
    font-weight: normal;
    line-height: 27px;
    margin-bottom: 50px;
    border: none;
  }
  .page-footer__social {
    margin-bottom: 0;
  }
  .page-footer__copyright {
    position: absolute;
    right: 0px;
    top: 55px;
    min-width: 160px;
  }
  .page-footer__copyright span {
    margin: 0;
  }
}
@media (min-width: 1200px) {
  .page-footer__wrapper {
    display: flex;
    padding: 55px 0px;
  }
  .page-footer__contacts {
    text-align: left;
    padding: 0px;
    padding-top: 5px;
  }
  .page-footer__tel {
    font-weight: normal;
    line-height: 27px;
    margin-bottom: 0px;
    border: none;
  }
  .page-footer__social {
    width: 320px;
    margin-bottom: 0;
    text-align: center;
    border: none;
  }
  .page-footer__social p {
    display: block;
    margin: 0;
    font-size: 18px;
    line-height: 27px;
    margin-bottom: 10px;
  }
  .page-footer__social a {
    width: 15%;
    min-height: 48px;
    border: 1px solid #3f3f3f;
    margin-right: 6px;
  }
  .page-footer__social a::before {
    width: 16px;
    height: 18px;
    margin-left: -8px;
    margin-top: -9px;
    background: url(../img/page-footer-icon-desktop.png);
    background-repeat: no-repeat;
    background-position: -19px 0;
  }
  .page-footer__social a:nth-of-type(2)::before {
    width: 10px;
    height: 22px;
    margin-left: -5px;
    margin-top: -11px;
    background-position: 0 -19px;
  }
  .page-footer__social a:nth-of-type(3)::before {
    width: 19px;
    height: 19px;
    margin-left: -10px;
    margin-top: -10px;
    background-position: 0 0;
  }
  .page-footer__copyright {
    position: absolute;
    top: 55px;
    min-width: 160px;
  }
}
.login-form {
  display: none;
  position: absolute;
  z-index: 10;
  top: 135px;
  left: 50%;
  width: 280px;
  padding: 37px 20px;
  margin-left: -160px;
  font-family: "PT Sans Narrow", Arial, sans-serif;
  background-color: #f8f5f2;
  box-shadow: 0 30px 50px 0px rgba(0, 0, 0, 0.75);
}
.login-form--show {
  display: block;
}
.login-form__wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  flex-grow: 1;
}
.login-form__title {
  margin: 0;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: bold;
  color: #000000;
}
.login-form__desc {
  margin: 25px 0;
  color: #000000;
  font-size: 18px;
  line-height: 27px;
}
.login-form form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}
.login-form input {
  box-sizing: border-box;
  width: 100%;
  padding: 9px 18px;
  padding-right: 40px;
  margin-bottom: 6px;
  font-size: 18px;
  line-height: 30px;
  border: 1px solid #e5ddd5;
  background-color: #ffffff;
  background: url(../img/login-icon.png) no-repeat;
  background-position: right 8% top 50%;
}
.login-form input[type="password"] {
  margin-bottom: 25px;
  background-image: url(../img/pass.png);
}
.login-form input::-moz-placeholder {
  font-size: 18px;
  line-height: 30px;
  font-family: "PT Sans Narrow", Arial, sans-serif;
  color: #000000;
  font-weight: normal;
}
.login-form input::-webkit-input-placeholder {
  font-size: 18px;
  line-height: 30px;
  font-family: "PT Sans Narrow", Arial, sans-serif;
  color: #000000;
  font-weight: normal;
}
.login-form input[type="checkbox"] {
  display: none;
}
.login-form input:hover {
  border: 1px solid #d5c9bd;
}
.login-form label {
  position: relative;
  padding-left: 48px;
  color: #000000;
}
.login-form label::before {
  content: "";
  position: absolute;
  left: 0;
  top: -2px;
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  border: 1px solid #e5ddd5;
}
.login-form input[type="checkbox"]:checked + label::after {
  content: "";
  position: absolute;
  left: 5px;
  top: 7px;
  width: 22px;
  height: 16px;
  background-image: url(../img/login-form.png);
  background-repeat: no-repeat;
  background-position: -26px 0;
}
.login-form a {
  margin-left: auto;
  color: #000000;
}
.login-form button {
  box-sizing: border-box;
  width: 45%;
  padding: 12px 0;
  margin-top: 32px;
  outline: none;
  border: none;
  font-family: "PT Sans Narrow", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #826550;
  cursor: pointer;
}
.login-form button[type="button"] {
  margin-left: auto;
  color: #000000;
  background-color: #ffffff;
  border: 1px solid #e5ddd5;
}
.login-form button span {
  display: none;
}
@media (min-width: 768px) {
  .login-form {
    top: 128px;
    left: 50%;
    width: 320px;
    padding: 55px 70px;
    margin-left: -230px;
  }
  .login-form__title {
    font-size: 40px;
    line-height: 30px;
  }
  .login-form input {
    padding: 19px 18px;
    padding-right: 40px;
    font-size: 24px;
  }
  .login-form input[type="password"] {
    margin-bottom: 30px;
  }
  .login-form button {
    width: 100%;
    padding: 12px 0;
    margin-top: 37px;
  }
  .login-form button[type="button"] {
    position: absolute;
    top: 20px;
    right: -103px;
    width: 26px;
    height: 26px;
    font-size: 0;
    line-height: 0;
    background-image: url(../img/login-form.png);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-color: transparent;
    border: none;
  }
  .login-form button span {
    display: inline;
  }
}
.page-title {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}
.page-title a {
  display: none;
}
.page-title h2 {
  margin: 0;
  margin-bottom: 33px;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  font-family: "PT Sans Narrow Bold";
  font-weight: normal;
  color: #000000;
}
@media (min-width: 768px) {
  .page-title {
    justify-content: space-between;
  }
  .page-title a {
    order: -1;
    display: block;
    width: 158px;
    padding: 12px 0;
    margin-left: auto;
    outline: none;
    border: 1px solid #e5ddd5;
    font-family: "PT Sans Narrow", Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: #000000;
    background-color: transparent;
    cursor: pointer;
  }
  .page-title a:hover {
    border: 1px solid #d5c9bd;
  }
  .page-title h2 {
    order: -2;
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 77px;
  }
}
.record-form {
  background-color: #f8f5f2;
}
.record-form__wrapper {
  width: auto;
  padding: 33px 20px;
  padding-bottom: 75px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
@media (min-width: 768px) {
  .record-form__wrapper {
    width: 84%;
    max-width: 960px;
    margin: 0 auto;
  }
}
.record-form input {
  box-sizing: border-box;
  width: 100%;
  padding: 12px 20px;
  margin-bottom: 6px;
  font-size: 18px;
  line-height: 30px;
  border: 1px solid #e5ddd5;
}
.record-form input::-moz-placeholder {
  font-size: 18px;
  line-height: 30px;
  font-family: "PT Sans Narrow", Arial, sans-serif;
  color: #000000;
  font-weight: normal;
}
.record-form input::-webkit-input-placeholder {
  font-size: 18px;
  line-height: 30px;
  font-family: "PT Sans Narrow", Arial, sans-serif;
  color: #000000;
  font-weight: normal;
}
.record-form input:-ms-input-placeholder {
  font-size: 18px;
  line-height: 30px;
  font-family: "PT Sans Narrow", Arial, sans-serif;
  color: #000000;
  font-weight: normal;
  line-height: 18px;
}
.record-form input[name="second name"],
.record-form input[name="email"] {
  margin-bottom: 32px;
}
.record-form textarea {
  box-sizing: border-box;
  width: 100%;
  padding: 12px 20px;
  margin-bottom: 40px;
  outline: none;
  -moz-appearance: none;
  min-height: 20px;
  border: 1px solid #e5ddd5;
  font-family: "PT Sans Narrow";
  font-size: 18px;
  line-height: 30px;
  resize: none;
}
.record-form input:hover,
.record-form textarea:hover {
  border: 1px solid #d5c9bd;
}
.record-form__information {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.record-form__information h2 {
  width: 100%;
  text-align: center;
  margin: 0;
  margin-bottom: 40px;
  font-size: 20px;
  line-height: 27px;
  font-family: "PT Sans Narrow";
  text-transform: uppercase;
  color: #000000;
}
.record-form__information input[type="radio"],
.record-form__information input[type="checkbox"] {
  display: none;
}
.record-form__beard-type {
  width: 33.3%;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.record-form__beard-type:nth-of-type(n+4) {
  margin-bottom: 50px;
}
.record-form__information p {
  margin: 0;
  margin-bottom: 12px;
  font-family: "PT Sans Narrow";
  color: #000000;
  font-size: 18px;
  line-height: 24px;
}
.record-form__information label {
  display: block;
  position: relative;
  width: 48px;
  height: 48px;
  margin-bottom: 12px;
  background-color: #ffffff;
  border: 1px solid #e5ddd5;
  border-radius: 50%;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-tap-highlight-color: transparent;
}
.record-form__information label::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  background-color: transparent;
  width: 0;
  height: 0;
  border: none;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  transition: all 0.3s ease-in;
}
.record-form__information input:checked ~ label::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  background-color: transparent;
}
.record-form__information input[name="beard-type"]:checked ~ label::before {
  margin-left: -10px;
  margin-top: -10px;
  width: 18px;
  height: 18px;
  background-color: #ffffff;
  border: 1px solid #e5ddd5;
  border-radius: 50%;
}
.record-form__information label:hover {
  border-color: #d5c9bd;
}
.record-form__information input[name="beard-type"]:checked + label:hover::before {
  border-color: #d5c9bd;
}
.record-form__beard-type img {
  display: block;
}
.record-form__aditional-services {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.record-form__aditional-service {
  width: 100%;
  display: flex;
  margin-bottom: 20px;
}
.record-form__aditional-service label {
  width: 35px;
  height: 35px;
  margin-bottom: 0px;
  border-radius: 0;
}
.record-form__aditional-service p {
  width: 70%;
  margin-top: auto;
  margin-bottom: auto;
  padding-left: 23px;
}
.record-form__aditional-service input:checked ~ label::before {
  margin-left: -11px;
  margin-top: -8px;
  background: url(../img/input-check.svg) no-repeat center;
  width: 22px;
  height: 16px;
}
.record-form__aditional-service label:hover::before {
  border-color: #d5c9bd;
}
.record-form__information button {
  box-sizing: border-box;
  width: 100%;
  padding: 13px 0;
  margin-top: 20px;
  outline: none;
  border: none;
  font-family: "PT Sans Narrow Bold";
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #826550;
  cursor: pointer;
}
.record-form__information button:hover {
  background-color: #6a4d38;
}
@media (min-width: 768px) {
  .record-form__wrapper {
    padding: 63px 0;
    padding-bottom: 77px;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .record-form input {
    margin-bottom: 35px;
  }
  .record-form input[type="text"] {
    box-sizing: border-box;
    width: 33.3%;
    margin-bottom: 35px;
    border-right: none;
  }
  .record-form input[name="second name"] {
    border-right: 1px solid #e5ddd5;
  }
  .record-form input[name="name"] {
    order: -1;
  }
  .record-form textarea {
    min-height: 206px;
    margin-bottom: 55px;
  }
  .record-form__information h2 {
    width: 100%;
    font-size: 30px;
    line-height: 30px;
    position: relative;
    margin-bottom: 50px;
  }
  .record-form__information h2::before,
  .record-form__information h2::after {
    content: "";
    position: absolute;
    width: 21%;
    left: 0;
    top: 14px;
    border: 1px solid #e5ddd5;
  }
  .record-form__information h2::after {
    right: 0;
    left: auto;
  }
  .record-form__information h2:last-of-type {
    margin-bottom: 70px;
  }
  .record-form__beard-type {
    width: 20%;
    margin-bottom: 60px;
  }
  .record-form__beard-type:nth-of-type(n+4) {
    margin-bottom: 60px;
  }
  .record-form__information p {
    font-size: 24px;
  }
  .record-form__aditional-service {
    width: 50%;
    margin-bottom: 50px;
    align-items: center;
  }
  .record-form__aditional-service:nth-of-type(2n) {
    order: 2;
  }
  .record-form__aditional-service label {
    margin-bottom: 0;
  }
  .record-form__information button {
    margin-top: 40px;
    padding: 20px 0;
    font-size: 24px;
    line-height: 30px;
  }
}
@media (min-width: 1200px) {
  .record-form__wrapper {
    padding: 63px 0;
    padding-bottom: 88px;
  }
  .record-form__information {
    justify-content: space-between;
  }
  .record-form input[type="text"] {
    box-sizing: border-box;
    width: 295px;
    margin-bottom: 35px;
    border-right: 1px solid #e5ddd5;
  }
  .record-form input[name="second name"] {
    border-right: 1px solid #e5ddd5;
    margin-right: 0;
  }
  .record-form input[name="phone"],
  .record-form input[name="email"] {
    width: 462px;
  }
  .record-form__aditional-service {
    width: 33.3%;
  }
}
.works {
  font-family: "PT Sans Narrow";
  background-color: #f8f5f2;
}
.works__wrapper {
  width: auto;
  padding: 33px 20px;
  padding-bottom: 90px;
}
@media (min-width: 768px) {
  .works__wrapper {
    width: 84%;
    max-width: 960px;
    margin: 0 auto;
  }
}
.works__item {
  margin-bottom: 20px;
}
.works__img {
  margin-bottom: -1px;
}
.works__img img {
  display: block;
  position: relative;
  margin: 0 auto;
}
.works__desc {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  flex-grow: 1;
  box-sizing: border-box;
  width: 100%;
  padding: 30px 20px;
  padding-top: 25px;
  padding-bottom: 0;
  border: 1px solid #e5ddd5;
}
.works__review {
  width: 100%;
}
.works__review b {
  width: 100%;
  display: block;
  font-size: 24px;
  line-height: 27px;
  color: #000000;
  font-family: "PT Sans Narrow Bold";
  font-weight: normal;
  margin-bottom: 17px;
}
.works__review blockquote {
  width: 100%;
  margin: 0;
  margin-bottom: 17px;
  font-size: 18px;
  line-height: 27px;
  color: #000000;
}
.works__type {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-self: flex-end;
  width: 100%;
}
.works__type span {
  box-sizing: border-box;
  width: 50%;
  display: block;
  position: relative;
  padding-left: 40px;
  margin-bottom: 17px;
  font-size: 16px;
  line-height: 27px;
  text-transform: uppercase;
  color: #000000;
}
.works__type span:nth-of-type(n+2) {
  padding-right: 20px;
  padding-left: 47px;
}
.works__type span::before {
  content: "";
  position: absolute;
  left: -2px;
  top: 3px;
  width: 21px;
  height: 20px;
  background: url(../img/scissors-icon.svg) no-repeat center;
}
.works__type .works__beard::before {
  right: 21px;
  width: 23px;
  height: 21px;
  background: url(../img/beard-icon.svg) no-repeat center;
}
.works__type .works__mustache::before {
  top: 7px;
  left: -13px;
  width: 45px;
  height: 13px;
  background: url(../img/mustache-icon.svg) no-repeat center;
}
@media (min-width: 768px) {
  .works__wrapper {
    justify-content: flex-start;
    padding: 60px 0;
    position: relative;
  }
  .works__img {
    width: 270px;
    margin-bottom: 0;
  }
  .works__item--best {
    position: relative;
  }
  .works__item--best::before {
    content: "";
    position: absolute;
    background-image: url(../img/works-month.png);
    background-position: 0 0;
    background-repeat: no-repeat;
    z-index: 10;
    width: 176px;
    height: 50px;
    left: 0;
    top: 35px;
  }
  .works__item {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;
    margin-bottom: 40px;
  }
  .works__desc {
    flex-grow: 1;
    width: 50%;
    box-sizing: border-box;
    padding: 40px 50px;
    padding-bottom: 23px;
    border-left: transparent;
  }
  .works__type label {
    width: 50%;
    box-sizing: border-box;
  }
}
@media (min-width: 1200px) {
  .works__wrapper {
    padding-bottom: 50px;
  }
  .works__img {
    width: 294px;
    margin-bottom: -1px;
  }
  .works__item--best::before {
    background-position: 0 -50px;
    top: 25px;
    left: auto;
    right: 0;
  }
  .works__desc {
    padding-top: 130px;
    padding-bottom: 0px;
  }
  .works__type span {
    width: 33%;
  }
  .works__other-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .works__other-wrapper .works__item {
    flex-direction: column;
    width: 294px;
  }
  .works__other-wrapper .works__desc {
    justify-content: flex-start;
    box-sizing: content-box;
    width: 222px;
    padding: 35px;
    padding-bottom: 13px;
    border-left: 1px solid #e5ddd5;
  }
  .works__other-wrapper .works__type span {
    width: 50%;
  }
}
.pricelist {
  background-color: #353535;
  font-size: 20px;
  line-height: 27px;
}
.pricelist__wrapper {
  width: auto;
  padding: 37px 20px;
  padding-bottom: 53px;
}
@media (min-width: 768px) {
  .pricelist__wrapper {
    width: 84%;
    max-width: 960px;
    margin: 0 auto;
  }
}
.pricelist__title {
  margin: 0;
  margin-bottom: 30px;
  font-family: "PT Sans Narrow Bold";
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  text-align: center;
}
.pricelist__cell:first-child {
  display: none;
}
.pricelist__table {
  display: block;
  width: 100%;
}
.pricelist__row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 100%;
}
.pricelist__row:last-of-type {
  margin-bottom: 15px;
}
.pricelist__cell {
  display: block;
}
.pricelist__cell:nth-child(2) {
  width: 65%;
  font-family: "PT Sans Narrow Bold";
  font-weight: normal;
}
.pricelist__cell:nth-child(3) {
  order: 1;
  width: 100%;
  margin-bottom: 10px;
}
.pricelist__cell:nth-child(4) {
  width: 35%;
  text-align: right;
}
.discount-time {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  padding: 15px 20px;
  border: 1px solid rgba(255, 255, 255, 0.1);
}
.discount-time__image {
  width: 60px;
  height: 60px;
}
.discount-time__image img {
  width: 100%;
  height: auto;
}
.discount-time p {
  flex-grow: 1;
  margin: 0;
  font-size: 20px;
  line-height: 27px;
  padding-left: 35px;
}
@media (min-width: 600px) {
  .discount-time br {
    display: none;
  }
  .discount-time__image {
    width: 70px;
    height: 70px;
  }
  .discount-time p {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
    padding-left: 70px;
  }
}
@media (min-width: 768px) {
  .discount-time {
    padding: 20px 25px;
  }
  .discount-time__image {
    width: 75px;
    height: 75px;
  }
  .discount-time p {
    margin: 0;
    font-weight: bold;
    font-size: 30px;
    padding-left: 90px;
  }
}
@media (min-width: 1200px) {
  .discount-time {
    box-sizing: border-box;
    width: 270px;
    padding: 25px 0;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
  }
  .discount-time__image {
    width: 140px;
    height: 140px;
    margin-bottom: 25px;
  }
  .discount-time p {
    padding-left: 0;
    padding-bottom: 0;
    margin-top: auto;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
    font-weight: normal;
  }
  .discount-time br {
    display: inline;
  }
}
@media (min-width: 768px) {
  .pricelist__wrapper {
    padding: 40px 0;
    padding-bottom: 55px;
  }
  .pricelist__title {
    margin-bottom: 53px;
    font-size: 40px;
    line-height: 40px;
    text-align: left;
  }
  .pricelist__table {
    display: table;
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 9px;
    border-collapse: collapse;
    border: none;
  }
  .pricelist__row {
    display: table-row;
  }
  .pricelist__row:last-of-type {
    margin-bottom: 0;
  }
  .pricelist__row:first-child {
    border-top: 1px solid #4a4a4a;
  }
  .pricelist__cell {
    display: table-cell;
    border: 1px solid #4a4a4a;
    border-top: none;
    padding: 14px 0;
    padding-right: 0;
    text-align: left;
  }
  .pricelist__cell:first-child {
    display: table-cell;
    width: 11%;
    text-align: center;
    opacity: 0.3;
  }
  .pricelist__cell:nth-child(2) {
    width: 39%;
    padding-left: 20px;
    text-align: left;
  }
  .pricelist__cell:nth-child(n+3) {
    width: 25%;
    padding-left: 20px;
    margin: 0;
    text-align: left;
    box-sizing: content-box;
  }
  .pricelist__cell span {
    display: none;
  }
}
@media (min-width: 1200px) {
  .pricelist__wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 80px 0;
  }
  .pricelist__title {
    width: 100%;
    margin-bottom: 50px;
  }
  .pricelist__table {
    width: 630px;
    margin-bottom: 0;
  }
}
